/* ==UserStyle==
@name           Twitter
@namespace      https://github.com/m-atarashi/UserStyle-and-UserScript-Zoo/tree/main/Twitter
@version        1.0.0
@description    UserCSS for Twitter
@author         m-atarashi
==/UserStyle== */

@-moz-document regexp("https://twitter.com.*") {
    /*---------------------------- variable ----------------------------*/
    * {
        --stylus-custom-bg-url: url("your image");
        --stylus-custom-bg-opacity: 0.2;
        --stylus-custom-font-familly: "Noto Sans JP Light", sans-serif;
    }
    /*---------------------------- TEXT ----------------------------*/
    /* Font */
    * {
        font-family: var(--stylus-custom-font-familly) !important;
    }
    /* Text color in Menu */
    nav[aria-label="メインメニュー"] svg, nav[aria-label="Primary"] svg,
    nav[aria-label="メインメニュー"] span, nav[aria-label="Primary"] span,
    div[aria-label="アカウントメニュー"] svg, div[aria-label="Account menu"] svg,
    div[aria-label="アカウントメニュー"] span, div[aria-label="Account menu"] span {
        color: white;
    }
    
    /*---------------------------- BACKGROUND ----------------------------*/
    /* Background image */
    body {
        background: var(--stylus-custom-bg-url);
        background-size: cover;
        position: relative;
    }
    body::before{
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, var(--stylus-custom-bg-opacity));
    }
    
    /*---------------------------- PRIMARY COLUMN ----------------------------*/
    div[data-testid="primaryColumn"] {
        background-color: white;
        border-radius: 22px;
    }
    div[data-testid="primaryColumn"] > div > div:first-of-type > div:first-of-type > div > div > div {
        background-color: transparent;
    }
    
    /*---------------------------- SEARCH FORM ----------------------------*/
    main div[data-testid="sidebarColumn"] > div > div:last-of-type > div > div > div > div:first-of-type {
        background: transparent;
    }
    main div[role="listbox"] {
        background-color: rgb(239, 243, 244);
    }
    main form[aria-label="キーワード検索"]  > div:first-of-type > div:focus-within,
    main form[aria-label="Search Twitter"]  > div:first-of-type > div:focus-within {
        background-color: white;
    }
    
    /*---------------------------- DIALOG BOX (Setting) ----------------------------*/
    div[role="dialog"] div[role="dialog"] {
        background-color: white;
    }
}
@-moz-document regexp("https://twitter.com/.*/lists") {
/*---------------------------- LIST ----------------------------*/
    /* Discover new Lists */
    main div[data-testid="primaryColumn"] div[aria-label="タイムライン: 自分のリスト"] > div > div:nth-of-type(n+3):nth-of-type(-n+9),
    main div[data-testid="primaryColumn"] div[aria-label="Your Lists"] > div > div:nth-of-type(n+3):nth-of-type(-n+9) {
        display: none;
    }
}
@-moz-document regexp("https://twitter.com(/settings)?/(explore|search).*") {
    /*---------------------------- HIDDEN (JavaScript is better) ----------------------------*/
    /* Who to follow */
    main div[data-testid="sidebarColumn"] > div > div:last-of-type > div > div > div > div:nth-last-of-type(2) {
        display: none;
    }
}
@-moz-document regexp("https://twitter.com(?!(/settings)?/(explore|search)).*") {
    /*---------------------------- HIDDEN (JavaScript is better) ----------------------------*/
    /* Who to follow */
    main div[data-testid="sidebarColumn"] > div > div:last-of-type > div > div > div > div:nth-of-type(4) {
        display: none;
    }
}
@-moz-document regexp("https://twitter.com/settings/trends") {
    aside[aria-label="Who to follow"] {
        display: none;
    }
}
@-moz-document regexp("https://twitter.com/(settings/)*explore.*") {
/*---------------------------- EXPLORE ----------------------------*/
    /* Search Form */
    div[data-testid="primaryColumn"] > div > div:first-of-type > div > div > div > div {
        border-bottom: 0px
    }
}
@-moz-document regexp("https://twitter.com/(settings/)*search.*") {
/*---------------------------- SEARCH ----------------------------*/
    /* Search Form */
    div[data-testid="primaryColumn"] > div > div:first-of-type {
        background-color: white;
        border-radius: 22px;
    }
    div[data-testid="primaryColumn"] > div > div:first-of-type > div {
        background-color: transparent;   
    }
    div[data-testid="primaryColumn"] > div > div:first-of-type > div:nth-of-type(2) > nav {
        border-bottom: 0px;
    }
    
    /* Search Filter */
    main div[data-testid="sidebarColumn"] > div > div:last-of-type > div > div > div > div:first-of-type {
        background-color: rgb(247, 249, 249);
    }
}
@-moz-document regexp("https://twitter.com/(settings.*|messages.*|i/moment_maker.*|i/flow.*)") {
/*---------------------------- Settings, Messages, Moment ----------------------------*/
    main section[aria-label="セクションナビゲーション"], main section[aria-label="Section navigation"]{
        background-color: white;
        border-radius: 22px 0px 0px 22px;
    }
    main section[aria-label="セクションの詳細"], main section[aria-label="Section details"] {
        background-color: white;
        border-radius: 0px 22px 22px 0px;
    }
}
@-moz-document url-prefix("https://twitter.com") {
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        margin-right: 4px !important
    }
    ::-webkit-scrollbar-thumb:active {
        background: #b3b3b3;
    }
}
